body{
  min-height: 45vh;
}
 /* -----------------Navigation ----------------*/
.logo{
    height: 5vh;
}
 /* -----------------Hero ----------------*/
.heroSection{
    margin-bottom: 5vh;
    padding-top: 5vh;
    position: relative;
    width: 100%;
}
.heroimg{
  width: 100%; 
  height: auto; 
}
.hero{
    max-width: 100%;
}
 /* -----------------Movie Section ----------------*/
  .movies{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
  }
.movieSection{
  margin-bottom: 5vh;
}
.movieimg{
  width: 12vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.movies{
  padding-right: 10vw;
  padding-left: 10vw;
  margin-bottom: 5vh;
}



  /* Tvs Section */
  .tvimg{
    width: 12vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    color: black;
  }
  .tvs{
    padding-right: 10vw;
    padding-left: 10vw;
    margin-bottom: 5vh;
  }
/* Footer */
.downloadimg{
    width: 10vw;
    left: 0; 
    margin-bottom: 2vh;
}
.info{
    margin-bottom: 2vh;    
}
.infolist{
    list-style: none;
}
.fheading{
    font-weight: bolder;
    font-size: x-large;
}
.infolist li{
    margin-top: 1vh;
}
.media{
    margin-bottom: 1vh;
    bottom: 10vh;
}
/* login offcanvas */
.submitBtn{
  margin-top: 2vh;
}
.loginform{
  margin-top: 2vh;
}
/* tab movie section */
.tabMovieSection{
  margin-bottom: 5vh;
  margin-top: 5vh;
}
/* Detail */
.detailTitle{
  font-size: 4vw !important; 
  font-weight: bold;
  margin-left: 2vw;
  
}
.container {
  display: flex;
}

.image-container, .details-container {
  flex: 1;
  background-color: black;
  height: 80vh;
  color: white
}

img {
  max-width: 100%; 
  height: auto; 
  
}

.details-container {
  padding: 20px; 
}
