:root{
  --darkBlue: #2d728f;
  --munsell: #3B8EA5;
  --vanilla: #F5EE9E;
  --orange: #F49E4C;
  --bric: #AB3428;
  --shadow: #D0D0D0;
  --white: #FFFFFF;
}

body{
  min-height: 45vh;
}
 /* -----------------Navigation ----------------*/
.navigation{
  background-color: var(--darkBlue);
}
.navlinks{
  color: var(--white) !important;
}
/* same as search*/
.search{
  background-color: var(--darkBlue) !important;
  border-color: var(--darkBlue) !important;
}

 /* -----------------Hero ----------------*/
.heroSection{
    margin-bottom: 5vh;
    margin-top: 5vh;
    position: relative;
    width: 100%;
    box-shadow: 10px 5px 5px var(--shadow);
}
.heroimg{
  width: 100%; 
  height: auto;
}

.hero{
    max-width: 100%;
    
}
 /* -----------------Movie Section, Tv Section ----------------*/
.movies{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
  }
.movieSection{
  padding-top: 5vh;
  margin-bottom: 5vh;
}
/* sharing with tabOptions */
  .tvmovieimg{
    width: 12vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    color: black;
    box-shadow: 10px 5px 5px var(--shadow);
  }
  .tvmovieimg:hover{
    transform: scale(1.2);
  }
  .mainpageTitle{
    text-align: left;
    text-shadow: 2px 1px 1px var(--shadow);
    margin-top: 3vh;
  }
  
 /* -----------------Footer ----------------*/
.downloadimg{
    width: 10vw;
    left: 0; 
    margin-bottom: 2vh;
}
.info{
    margin-bottom:0;    
    background-color: var(--darkBlue);
    color: var(--white);
}
.infolist{
    list-style: none;
}
.infolist a{
  text-decoration: none;
  color: var(--white);
}
.fheading{
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 1px 1px 1px  var(--shadow);
    margin-bottom: 2vh;
}
.infolist li{
    margin-top: 1vh;
}
.media{
    margin-bottom: 1vh;
    bottom: 10vh;
}
 /* ----------------- Login/Signup  ----------------*/
.loginBtn{
  background-color: var(--darkBlue) !important;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 2vh;
  margin-top: 5vh;
  color: white;
  border: none;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}
loginBtn:hover{
  opacity: 0.7;
}
.form-header{
  text-align: center;
  margin-top: 5vh;
}
.form-body form{
  max-width: 620px;
  margin: auto;
  padding: 10px;
  background: white;
}
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: whitesmoke;
}
input:focus {
  background-color: gainsboro;
  outline: none;
}
.switchline{
  margin-left: 20vw;
  margin-right: 30vw;
  display: inline-block;
}
.switch{
  color: var(--bric);
  margin-left: 5px;
  text-decoration: none;
}

 /* ----------------- Tab movie Sectrion ----------------*/
.tabMovieSection{
  margin-bottom: 5vh;
  margin-top: 5vh;
}
 /* ----------------- DetailPage ----------------*/


.container{
  width: 100vw;
  height: auto;
  position: relative;
  text-align: center;
  color: white;
  /* opacity: 0.7; */
}

.detailInfo-container{
  position: absolute;
  top: 8px;
  right: 16px;

}
 /* ----------------- Detail ----------------*/
 .detailContainer{
  display: flex;
}
.movieimg{
  width:10vw;
  height: auto;
}
.detailTitle{
  font-size: 4vw !important; 
  font-weight: bold;
  margin-left: 2vw; 
}
 /* ----------------- Content ----------------*/
 .content-section{
  padding-right: 2vw;
  padding-left: 2vw;
 }
 .content1{
  background-color: var(--darkBlue);
  max-width: 90vw;
  margin: 2vw auto;
  width: 100%;
  box-shadow: 5px 2px 2px var(--shadow);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5vw;
 }
.title {
  grid-column: span 2;
  color: var(--orange);
  text-align: center;
  text-shadow: 2px 1px 1px var(--vanilla);
  margin-top: 3vh;
}
.content-image {
  grid-column: span 1;
  height: 25vh;
  width: auto;
  border-style: solid;
  color: var(--darkBlue);
  box-shadow: 3px 1px 1px var(--shadow);
}

.wide-image {
  grid-column: span 2; 
  height: 25vh;
  width: auto;
  margin-right: 2vw;
  border-style: solid;
  color: var(--darkBlue);
  box-shadow: 3px 1px 1px var(--shadow);
}
 /* ----------------- Card ----------------*/
 .cardImg{
  height: 30vh;
  width: auto;
  border: black;
  box-shadow: 3px 1px 1px var(--shadow);
  margin-top: 5vh;
 }
 .cardImg:hover{
  transform: scale(1.2);
 }
 .cardName{
  text-align: center;
  text-shadow: 2px 1px 1px var(--shadow);
  text-decoration: none;
  color: black;
  margin-top: 5vh;
 }

  /* ----------------- Free ----------------*/
  .freeTitle{
    color: black;
    text-align: center;
    text-shadow: 2px 1px 1px var(--shadow);
    margin-top: 3vh;
  }
    /* ----------------- Coming soon ----------------*/
    .comingsoon{
      min-height: 50vh;
      text-align: center;
      color: var(--orange);
      text-shadow: 2px 1px 1px var(--vanilla);
    }